* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pfp {
    background-color: white;
    border: white solid 2px;
    border-radius: 25%;
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-left: 2vw;
}

.header {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
}

.navbar {
    padding: 5px;
    margin-right: 2vw;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin-left: auto;
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    color: white;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.title {
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 30px;
    word-break: break-word;
}

.subtitle {
    padding-block: 5px;
    padding-inline: 5px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    color:black;
    font-weight: 100;
}

p, textarea {
    padding: 5px;
    flex: 1;
}

textarea {
    resize: none;
    border: 0;
}

.footer {
    border-top: solid black 2px;
    display: flex;
    padding-block-start: 5px;
    padding-block-end: 7px;
    padding-inline: 5px;
}

.footer > a {
    color: black;
}

a:hover {
    color: lavender;
}

.container {
    margin-block: 10vh;
    margin-bottom: 7vh;
    width: max(30rem, 90vw);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-height: 25em;

    width: 16rem;
    margin-inline: 1rem;
    margin-bottom: 3rem;

    border: solid black 2px;
}

.about {
    margin-top: 1vh;
    background-color: #e5e7eb;
    flex: 2;
    padding-block: 3em;
    padding-inline: 2vw;
}

.about-me {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-inline: 15vw;
}

.text {
    font-size: 20px;
    font-weight: 100;
    color:rgb(68, 68, 68);
    margin-inline: 15vw;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100vw;
}

.contact > ul {
    margin-left: 0;
}

.hide-project-button {
    margin-inline: 2px;
    margin-left: auto;
    padding: auto;
    padding-top: 5px;
    border: none;
    background: none;
    border-radius: 2px;
}

.hide-project-button:hover {
    background-color: lavender;
}

.hide-project-button:active {
    background-color: #6e5494;
}

.hide-project-button:active > .eye-icon {
    color: white;
}


.export-button {
    margin-inline: 15px;
    size: 1em;
    border: solid #6e5494 2px;
    background-color: white;
    border-radius: 6px;
    padding-block: 5px;
    padding-inline: 7px;
}

.export-button:hover {
    background-color: lavender;
}

.export-button:active {
    background-color: #6e5494;
}

.export-button:active > * {
    color: white;
}


.export-icon {
    margin-right: 5px;
    margin-bottom: -2px;
}
