* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  color: darkslategray;
}

.welcome {
  flex: 0;
  display: flex;
  flex-direction: column;
  width: 24vw;
}

.first {
  margin-bottom: 0px;
  font-size: 40px;
}

.Logo {
  margin-top: -10px;
  font-size: 56px;
  font-weight: bold;
}

.divider {
  border-left: solid slateblue 2px;
  height: 20vh;
  margin-inline: 2vw;
}

.modal {
  justify-content: center;
  flex: 0;
  width: min(100vw, 60em);
  flex-wrap: wrap;
  min-height: 99vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

form {
  width: 10vw;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
}

input {
  margin-block-start: 5px;
}
