* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  color: darkslategray;
}

.welcome {
  flex: 0;
  display: flex;
  flex-direction: column;
  width: 24vw;
}

.first {
  font-size: 40px;
}

.Logo {
  margin-top: -10px;
  font-size: 56px;
  font-weight: bold;
}


@media (max-width:700px) {
  .modal {
    flex-direction: column;
  }

  .welcome {
    align-items: center;
  }

  .first, .Logo, p {
    text-align: center;
  }

  .divider {
    border-top: solid slateblue 2px;
    width: 20vw;
    margin-block: 2vw;
    margin-bottom: 6vw;
  }

}

@media (min-width:700px) {
  .modal {
    flex-direction: row;
  }
  
  .divider {
    border-left: solid slateblue 2px;
    height: 20vh;
    margin-inline: 2vw;
  }

  form {
    width: 10vw;
  }
}

.modal {
  justify-content: center;
  flex: 0;
  min-height: 99vh;
  display: flex;
  align-items: center;
}

form {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
}

input {
  margin-block-start: 5px;
}
