* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pfp {
    background-color: white;
    border: white solid 2px;
    border-radius: 25%;
    height: 30px;
    width: 30px;
    margin: 10px;
    flex-shrink: 0;
    margin-left: 2em;
}

.header {
    background-color: black;
    display: flex;
    align-items: center;
}

#root {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: solid black px;
    overflow-x: hidden;
}

h1 {
    color: white;
}

.navbar {
    padding: 5px;
    margin-right: 2em;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: auto;
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    color: white;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.title {
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 30px;
    word-break: break-word;
}

.subtitle {
    padding-block: 5px;
    padding-inline: 5px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    color:black;
    font-weight: 100;
}

p, textarea {
    text-align: start;
    color: rgb(68, 68, 68);
    flex: 2 0 auto;
    padding: 5px;
    font-size: 18px;
    margin-top: 0;
}

textarea {
    resize: none;
    border: 0;
    flex-shrink: 0;
}

button {
    border: 0;
}

.footer {
    border-top: solid black 2px;
    display: flex;
    align-items: center;
    padding-block-start: 5px;
    padding-block-end: 7px;
    padding-inline: 5px;
}

.footer > a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin-block: 7vh;
    margin-bottom: 3vh;

    margin-left: auto;
    margin-right: auto;

    width: 90vw;

    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    min-height: 40vh;

    flex-grow: 1;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-height: 25em;

    width: 16rem;
    margin-inline: 1rem;
    margin-bottom: 3rem;

    border: solid black 2px;
}

.filler {
    min-height: 6vh;
    flex-grow: 2;
}

.about {
    margin-top: 1vh;
    background-color: #e5e7eb;
    padding-block: 3em;
    padding-inline: 2vw;
    flex-grow: 2;
    min-height: 10vh;
}

.about-me {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-inline: 15vw;
}

.about-me-text {
    font-size: 20px;
    font-weight: 100;
    color:rgb(68, 68, 68);
    margin-inline: 15vw;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.contact > ul {
    margin-left: 0;
}

.card-button {
    margin-inline: 2px;
    margin-left: auto;
    padding: auto;
    padding-top: 5px;
    border: none;
    background: none;
    border-radius: 2px;
}

.card-button:hover {
    background-color: lightgray;
}

.card-button:active {
    background-color: darkgray;
}

.export-button {
    margin-left: 1vw;
    size: 1em;
    background-color: white;
    border-radius: 6px;
    padding-block: 5px;
    padding-inline: 7px;
}

.export-button:hover {
    background-color: lightgray;
}

.export-button:active {
    background-color: darkgray;
}

.export-button:active > * {
    color: black;
}

.export-icon {
    margin-right: 5px;
    margin-bottom: -2px;
}

.work-button {
    margin-left: .5vw;
    size: 1em;
    background-color: white;
    border-radius: 6px;
    padding-block: 5px;
    padding-inline: 7px;
}

.work-button:hover {
    background-color: lightgray;
}

.work-button:active {
    background-color: darkgrey;
}

.work-button:active > * {
    color: black;
}

.work-icon {
    margin-right: 5px;
    margin-bottom: -2px;
}

.hidden * {
    border-color: gray;
    color: gray;
}

.hidden .title {
    background-color: darkgray;
    color: white;
} 

.annotation {
    background-color: darkgray;
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
}

.hidden a {
    color: gray;
}

.hidden .container {
    margin: 0;
    padding: 0;
}

.reveal-button {
    margin-inline: 2px;
    margin-left: auto;
    padding: auto;
    padding-top: 5px;
    border: none;
    background: none;
    border-radius: 2px;
}

.about textarea {
    width: 70vw;
    height: 7vh;
}

.footer-textarea {
    margin-top: -5px;
    max-height: 1.2em;
    font-size: 18px;
    max-width: 100%; 
    height: auto;
}

.contact a {
    font-weight: bold;
}


@media (max-width:800px) {
    .contact ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-textarea {
        margin-top: 0;
    }
}