* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pfp {
    background:#6e5494;
    border: border#6e5494 2px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 10px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar {
    padding: 5px;
}

body {
    margin: 0;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin-left: auto;
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
}

.title {
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    word-break: break-word;
}

.subtitle {
    padding-block: 5px;
    padding-inline: 5px;
    border-top: solid#6e5494 2px;
    border-bottom: solid#6e5494 2px;
    color:#6e5494;
    font-weight: 100;
}

p, textarea {
    padding: 5px;
    flex: 1;
}

textarea {
    resize: none;
    border: 0;
}

.footer {
    display: flex;
    padding-block-start: 5px;
    padding-block-end: 7px;
    padding-inline: 5px;
}

.footer > a {
    color: black;
}

.container {
    margin-block: 40px;
    width: max(30rem, 90vw);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-height: 25em;

    width: 16rem;
    margin-inline: 1rem;
    margin-bottom: 3rem;
    

    border: solid#6e5494 2px;
    box-shadow: 1rem 1rem lavender;

}

.hide-project-button {
    margin-inline: 2px;
    margin-left: auto;
    padding: auto;
    padding-top: 5px;
    border: none;
    background: none;
    border-radius: 2px;
}

.hide-project-button:hover {
    background-color: lavender;
}

.hide-project-button:active {
    background-color: #6e5494;
}

.hide-project-button:active > .eye-icon {
    color: white;
}


.export-button {
    margin-inline: 15px;
    size: 1em;
    border: solid #6e5494 2px;
    background-color: white;
    border-radius: 6px;
    padding-block: 5px;
    padding-inline: 7px;
}

.export-button:hover {
    background-color: lavender;
}

.export-button:active {
    background-color: #6e5494;
}

.export-button:active > * {
    color: white;
}


.export-icon {
    margin-right: 5px;
    margin-bottom: -2px;
}